* {
    margin: 0;
    padding: 0;
}


.body {
    background-color: #1C2C44;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#2DD4CD, #1C4E5A);
    border-radius: 0px 0px 20px 20px;
    padding-left: 50px;
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 7px;
    color: white;
}


.nav--img {
    width: 100px;
}



.texto--pr {
    display: flex;
    justify-content: center;
    color: white;

}

.contenedor-boton {
    display: flex;
    justify-content: flex-end;
}


.boton-t {
    height: 45px;
    margin: 2rem;
    background: linear-gradient(#2FEEC0, #16AA86);
    padding: 0.8rem;
    border-radius: 10px;
}

.tabla-head {
    background: linear-gradient(#2FEEC0, #16aa855d);
    border-radius: 2rem;
}


.ancor {
    text-decoration: none;
    color: #1C2C44;
    font-weight: 600;
}

.tabla-section {
    background: linear-gradient(#1B7C6B, #1C2C44);
    height: 20rem;
}

.tabla-cuerpo {
    display: flex;
    padding: 1rem;
    width: 100%;
    
}

