* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #1C2C44;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#2DD4CD, #1C4E5A);
    border-radius: 0px 0px 20px 20px;
    padding-left: 50px;
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 7px;
    color: white;
}


.nav--img {
    width: 100px;
}

.title {
    color: white;
}

.text-title {
    display: flex;
    justify-content: center;
    font-family:'Black Ops One', system-ui;

}


.hero {
    display: flex;

    justify-content: center;
}


.formulario {
    margin: auto;
    width: 80%;
}

.login {
    width: 100%;
    height: 40px;
    margin: 30px 0px;
}

.conten-input {
    margin-bottom: 1rem;
    width: 80%;
    
}

.input--form {
    border-radius: 44px;
    border: none;
    background: #1C2C44;
    color: white;
    border-radius: 5rem;
    padding: 0.5rem;
    width: 100%;



}

.letter-register {
    color: white;
}

.conten--boton {
    display: flex;
    justify-content: center;
}

/* .boton {
    background: linear-gradient(#2FEEC0, #16AA86);
    border-radius: 10px;
    height: 45px;
    width: 80%;
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgb(34, 119, 138);
    
    
} */

.boton {
    background-color: rgba(24, 243, 228, 0.196);
    border-radius: 5rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    


}

.ancor {
    text-decoration: none;
    color: #1C2C44;
    font-weight: 600;
}

.item-register {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contenedor-grande {
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: center;

}

.formulario-main {
    display: flex;
    justify-content: center;
}
    

.container {
    display: flex;
}

.conten-carta {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cartaa {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #233A5D;
    border-radius: 2rem;
    margin-top: 5rem;
    box-shadow: 11px 12px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem 0rem;
    width: 100%;
}

.texto-t {
    color: #FFF;
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    line-height: normal;

}

.cabecera-form {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}


@media (min-width: 1250px) {
    .cartaa {
        width: 80%;
        display: flex;
    align-items: center;
    }
    
    .contenedor-grande {
        width: 80rem;
    }
}
